{% extends 'base.html' %}

{% block content %}

    <main>

        <section class="pb-5 pt-5">
            <div class="container pb-2 pt-2">
                <div class="gx-lg-5 gy-4 row">
                    <div class="col-lg-7 col-xl-8">
                        <h2 class="h5 mb-3 text-dark">{{ place.title }}</h2>
                        <p>{{ place.description }}</p>
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"><a
                                class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                                data-bs-slide="prev"> <span class="carousel-control-prev-icon"
                                                            aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
                        </a><a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                               data-bs-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span> </a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-4">
                        <div class="gy-3 gy-lg-3 gy-md-4 row row-cols-lg-1 row-cols-md-2">
                            <div class="col-md-12">
                                <div class="bg-light p-4">
                                    <div id="map" style="height: 400px; width: 100% "></div>

                                </div>
                            </div>
                            <div>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        function initMap() {

            const coordinates = {
                lat: [{{ place.location }}][0],
                lng: [{{ place.location }}][1],
            }

            let element = document.getElementById('map');
            let options = {
                zoom: 5,
                center: coordinates
            }

            let myMap = new google.maps.Map(element, options)

            function addMarker(coordinates) {
                var marker = new google.maps.Marker({
                    position: coordinates,
                    map: myMap
                });
            }

            addMarker(coordinates)
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARKLq7vbL80ITOeznFxTf6QNAIgoLZs8s&callback=initMap"></script>

{% endblock %}